<div class="banner">
	<% url = "https://source.unsplash.com/featured/?livingroom" %>
	<img src=<%= "#{url}" %> alt="">
</div>
<div class="flat-container">
	<div class="details-container">
		<div class="content-card">
			<h1><%= @flat.name %></h1>
			<p><%= @flat.address %></p>
		</div>
		<div class="content-card">
			<h2>A little bit more about this flat</h2>
			<p><%= @flat.description %></p>
		</div>
		<div class="content-card">
			<h2>Details</h2>
			<div class="flat-icons">
	      		<i class="fas fa-user-friends"></i>
	      		<%= @flat.number_of_guests %>
	      	</div>
	      	<div class="flat-icons">
	      		<i class="fas fa-euro-sign"></i>
	      		<%= @flat.price_per_night %>
	      	</div>
		</div>			
	</div>
	<div class="book-card">
		<%= link_to "Book now", "" %>
		<div class="share">
			
		</div>
	</div>
</div>

